/* You can add global styles to this file, and also import other style files */

.danger {
    color: red;
    font-weight: bold;
}

.safe {
    text-decoration: underline;
}

.changed {
    font-style: italic;
}